
.card-footer {
    background-color: #ff007709 !important;
    border-top: none !important;
}

html {
    height:100%;
    background-color:rgba(107, 14, 65, 0.068) !important;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  

.border-main{
    border: 1px solid #ff02566b !important;
  }
  
.card-border{
    border-right: 1px solid #ff02566b !important;
    border-bottom: 1px solid #ff02566b !important;
    color: #0c4952e3 !important;
}

