.btn-primary {
    background-color: #9c0049 !important;
    color:white !important;
    border-color:#9c0049 !important;
    width: 10em;
  }


html {
  height:100%;
  background-color:rgba(107, 14, 65, 0.068) !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

  .btn-secondary {
      width: 10em;
  }
