
.btn-primary {
    background-color: #ca5715d5 !important;
    color:white !important;
    border-color:#ca5715d5 !important;
    width: 10em;
  }

  .btn-secondary {
      width: 10em;
      background-color:#ca57154d !important;
      border-color: #ca57154d !important;
      color:rgb(255, 94, 0) !important;
  }
 