
.btn-primary {
    background-color: #1588cad5 !important;
    color:white !important;
    border-color:#1588cad5 !important;
    width: 10em;
  }

  .btn-secondary {
      width: 10em;
      background-color:#4876915d !important;
      border-color: #4876915d !important;
      color: black !important;
  }

  .main-view {
    background-color: rgba(0, 0, 0, 0.822); 
    width:100% !important; 
    height:100%;
  }
