.movie-title {
    color: rgb(253, 207, 1) !important;
    font-family: 'Knewave', cursive;
  }

.movie-poster {
  width: 500px !important;
}

.details-bg {
  color: rgb(187, 186, 180) !important;
  font-family: 'Balsamiq Sans', cursive;
}
  
  .fav-btn {
    background-color: rgba(250, 211, 37, 0.979) !important;
    font-family: 'Rubik', sans-serif;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 12px !important;
    margin-right: 10px;
    margin-left: 10px;
  }
  