.navbar {
    font-family: 'Rubik', sans-serif;
}

.navbar-logo {
    color: rgb(253, 207, 1) !important;
    font-family: 'Knewave', cursive;
}

.nav-link{
    color: rgb(253, 207, 1) !important;
    font-family: 'Rubik', sans-serif;
}