@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.app-container {
  background-color: #053e7410;
  background-color: #03020cda !important;
  color: #0c4952e3 !important;
}

html {
  height:100%;
  background-color: #053e7410 !important;
  background-color: #03020cda !important;
}


